.container {
  text-align: center;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  padding: 2rem 0;
  border: 0.1rem solid #000;
  align-items: center;
}

.container:nth-child(even) {
  background-color: #f2f2f2;
}

.container p {
  width: 200px;
  text-align: center;
  display: block;
  padding-left: 4rem;
  margin: 0;
}

.container button {
  margin-left: 4rem;
  padding: 2rem 2rem;
  font-weight: 500;
  font-family: 'gabriel_weiss_friends_fontRg';
  background-color: #488d844b;
  cursor: pointer;
  border: 0.5px solid #c9c9c9;
  outline: none;
  position: relative;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
}

.container button:hover {
  background-color: #488d8498;
}
