@font-face {
  font-family: 'gabriel_weiss_friends_fontRg';
  src: url('../assets/fonts/gabrwffr-webfont.woff2') format('woff2'),
       url('../assets/fonts/gabrwffr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  font-family: 'gabriel_weiss_friends_fontRg';
  letter-spacing: 0.1rem;
  background-color: #e2dcdc;
}
